@model List<Vakio.Data.Veikkaukset>
@{
    ViewBag.Title = "Login";
}

<h2>Tulokset</h2>

@for (int i = 0; i < Model.Count; i++)
{
    <div>
        <span>Viikko: @Model[i].Viikko</span>
        <span>@Model[i].Peli1</span>
        <span>@Model[i].Peli2</span>
        <span>@Model[i].Peli3</span>
        <span>@Model[i].Peli4</span>
        <span>@Model[i].Peli5</span>
        <span>@Model[i].Peli6</span>
        <span>@Model[i].Peli7</span>
        <span>@Model[i].Peli8</span>
        <span>@Model[i].Peli9</span>
        <span>@Model[i].Peli10</span>
        <span>@Model[i].Peli11</span>
        <span>@Model[i].Peli12</span>
        <span>@Model[i].Peli13</span>        
    </div>
}
